<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css">




<head>
  <title>注文画面</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  


      
      <div class="siimple-navbar">
          <a class="siimple-navbar-title"><div class="siimple-h2">ブロックチェーンデモ（顧客向けアプリ）</div></a>
          <div class="siimple--float-right">
              <a class="siimple-navbar-item"><a href="../blockchain/displayorderlist" class="siimple-link">注文</a></a>
              <a class="siimple-navbar-item"><a href="../blockchain/displayorder" class="siimple-link">注文ステータス照会</a></a>
            </div>
      </div>

      <div class="siimple-content--medium">
      <div class="siimple-h3">注文画面</div>
      <p class="siimple-p">
          注文できます。
      </p>
      <img src="http://13.113.245.130/file/img/document_hacchusyo.png" width="240">
  
    <div class="siimple-form">

      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="sc_statussendbutton">注文</div>
      </div>
    </div> 

    <div id="a">
    </div>


  </div>
</body>

<script type="text/javascript">

  var toDoubleDigits = function(num) {
  num += "";
  if (num.length === 1) {
    num = "0" + num;
  }
 return num;     
  };


  //ブロックチェーン2
  //送信ボタン
  $("#sc_statussendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};

    var dd = new Date();
    var YYYY = dd.getFullYear();
    var MM = toDoubleDigits(dd.getMonth() + 1);


    var DD = toDoubleDigits(dd.getDate());

    var ho = toDoubleDigits(dd.getHours());
    var mi = toDoubleDigits(dd.getMinutes());
    var se = toDoubleDigits(dd.getSeconds());


    var ymdhms = 'ORD';
    ymdhms += YYYY.toString() + MM.toString() + DD.toString() + ho.toString() + mi.toString() + se.toString();

    sendScript.ordernumber = ymdhms;
    sendScript.status = "312ee6b3a8e69687";
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "../sc_updatestatus",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      log = JSON.stringify(data);
      // $("#a").append('<p>' + log + '</p>');
      $("#a").append('<div class="siimple-h4">注文を登録しました。注文番号' + ymdhms + '</div>');

    });
  });




</script>