<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.css">

<style>
    body {
        margin: 0px;
    }
</style>

<meta content="width=device-width,initial-scale=1.0" name="viewport">

<head>
  <title>demoform</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <div class="siimple-content--small">

    <div class="siimple-h2">気象台開発室</div>

    <div class="siimple-form">
      <div class="siimple-form-field">
        <label class="siimple-label">原稿を入力してください。</label><br>
        <textarea class="siimple-textarea siimple-textarea--fluid" id="scriptfield" rows="5"></textarea>
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="getsamplebutton">サンプル取得</div>
        <div class="siimple-btn siimple-btn--blue" id="sendbutton">送信</div>
      </div>
    </div>

    <div id="a">
    a
    </div>

  </div>
</body>

<script type="text/javascript">

  //サンプル取得ボタン
  $("#getsamplebutton").on("click", function(){
    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/getsamplescript",
      method: "GET",
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data[0].script);
      $("#scriptfield").val(data[0].script);
    });
  });

  //送信ボタン
  $("#sendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.script = $("#scriptfield").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/postscript",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data[0].filepath);

    });
  });

</script>