<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.css">

<style>
    body {
        margin: 0px;
    }
</style>

<meta content="width=device-width,initial-scale=1.0" name="viewport">

<head>
  <title>demoform</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <div class="siimple-content--small">

    <div class="siimple-h2">開発室</div>

    <p class="siimple-p"><a href="./" class="siimple-link">表紙</a></p>

    <div class="siimple-h3">Amazon Polly API</div>

    <p class="siimple-p">
      Amazon Polly APIを使って、入力した原稿をmp3化します。サンプル取得を押すと、最新の南さいたまの気温と湿度を取得できます。
    </p>

    <div class="siimple-form">
      <div class="siimple-form-field">
        <label class="siimple-label">原稿</label><br>
        <textarea class="siimple-textarea siimple-textarea--fluid" id="scriptfield" rows="5"></textarea>
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="getsamplebutton">サンプル取得</div>
        <div class="siimple-btn siimple-btn--blue" id="sendbutton">送信</div>
      </div>
    </div>

    <div id="a">
    </div>

    <div class="siimple-h3">ブロックチェーン（工事中）</div>

    <p class="siimple-p">
      アドレスを入力して残高を呼び出します。
    </p>

    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">口座アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_addressfield">
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="bc_sendbutton">送信</div>
      </div>
    </div> 

    <div id="b">
    </div>

    <p class="siimple-p">
      送信元、送信先、金額を指定して送金を行います。
    </p>
  
    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">送信元アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_from_addressfield">
        <div class="siimple-form-field-label">送信先アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_to_addressfield">
        <div class="siimple-form-field-label">通貨</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_currencyfield">
        <div class="siimple-form-field-label">金額</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_qtyfield">
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="bc_qtysendbutton">送金</div>
      </div>
    </div> 

  </div>
</body>

<script type="text/javascript">

  //サンプル取得ボタン
  $("#getsamplebutton").on("click", function(){
    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/getsamplescript",
      method: "GET",
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data[0].script);
      $("#scriptfield").val(data[0].script);
    });
  });

  //送信ボタン
  $("#sendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.script = $("#scriptfield").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/postscript",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.filepath);

      $("#a").append('<audio controls><source src="' + data.filepath + '" type="audio/mp3"></audio>');

    });
  });

  //ブロックチェーン1
  //送信ボタン
  $("#bc_sendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.address = $("#bc_addressfield").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/mc_getaddressbalances",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.qty);
      $("#b").append('<p>' + data.qty + '</p>');

    });
  });

  //ブロックチェーン2
  //送信ボタン
  $("#bc_qtysendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.fromaddress = $("#bc_from_addressfield").val();
    sendScript.toaddress = $("bc_to_addressfield").val();
    sendScript.currency = $("bc_currencyfield").val();    
    sendScript.qty = $("#bc_qtyfield").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/mc_sendassetfrom",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.qty);
      $("#b").append('<p>' + data.qty + '</p>');

    });
  });




</script>