<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.css">

<style>
    body {
        margin: 0px;
    }
</style>

<meta content="width=device-width,initial-scale=1.0" name="viewport">

<head>
  <title>demoform</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <div class="siimple-content--small">

    <div class="siimple-h2">開発室</div>

    <p class="siimple-p"><a href="./" class="siimple-link">表紙</a></p>


    <div class="siimple-h3">ブロックチェーン（工事中）</div>
    <div class="siimple-h4">残高照会</div>
    <p class="siimple-p">
      アドレスを入力して残高を呼び出します。
    </p>

    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">口座アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_addressfield">
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="bc_sendbutton">送信</div>
      </div>
    </div> 

    <div id="b">
    </div>

    <div class="siimple-h4">送金</div>
    <p class="siimple-p">
      送信元、送信先、金額を指定して送金を行います。
    </p>
  
    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">送信元アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_from_addressfield">
        <div class="siimple-form-field-label">送信先アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_to_addressfield">
        <div class="siimple-form-field-label">通貨</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_currencyfield">
        <div class="siimple-form-field-label">金額</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_qtyfield">
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="bc_getsamplebutton">サンプル取得</div>
        <div class="siimple-btn siimple-btn--blue" id="bc_qtysendbutton">送金</div>
      </div>
    </div> 

    <div id="c">
    </div>

    <div class="siimple-h4">口座名称取得</div>
    <p class="siimple-p">
      アドレスをキーに、ストリームから口座名称を取得します。
    </p>

    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">口座アドレス</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="bc_getaddressfield">
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="bc_getaddressbutton">送信</div>
      </div>
    </div> 

    <div id="d">
    </div>

    <div class="siimple-h4">口座残高取得（テスト用）</div>
    <p class="siimple-p">
      口座残高を取得します。
    </p>

    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="bc_getmultibalances">取得</div>
      </div>
    </div> 

    <div id="e">
    </div>



  </div>
</body>

<script type="text/javascript">



  //サンプル値取得ボタン
  $("#bc_getsamplebutton").on("click", function(){
    console.log("サンプル値を取得します。")
    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/mc_sendassetfrom",
      method: "GET",
      dataType: "json"
    })
    .done(function(data){
      console.log("サンプル値を取得しました。")
      console.log(data);
      $("#bc_from_addressfield").val(data[0].fromaddress);
      $("#bc_to_addressfield").val(data[0].toaddress);
      $("#bc_currencyfield").val(data[0].currency);
      $("#bc_qtyfield").val(data[0].qty);

    });

  });


  //ブロックチェーン1
  //送信ボタン
  $("#bc_sendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.address = $("#bc_addressfield").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/mc_getaddressbalances",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.qty);
      $("#b").append('<p>' + data.qty + '</p>');

    });
  });

  //ブロックチェーン2
  //送信ボタン
  $("#bc_qtysendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.fromaddress = $("#bc_from_addressfield").val();
    sendScript.toaddress = $("#bc_to_addressfield").val();
    sendScript.currency = $("#bc_currencyfield").val();    
    sendScript.qty = $("#bc_qtyfield").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/mc_sendassetfrom",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      log = JSON.stringify(data);
      $("#c").append('<p>' + log + '</p>');

    });
  });

  //ブロックチェーン3
  //送信ボタン
  $("#bc_getaddressbutton").on("click", function(){

  //送信データを準備
  var sendData = {};
  sendData.address = $("#bc_getaddressfield").val();
  console.log(sendData);

  $.ajax({
    crossDomain: true,
    url: "http://13.113.245.130/mc_getaccountname",
    method: "POST",
    data: JSON.stringify(sendData),
    contentType: 'application/json',
    dataType: "json"
  })
  .done(function(data){
    console.log(data);
    // log = JSON.stringify(data);
    $("#d").append('<p>' + data[0].accountname + '</p>');
    });
  });

  //ブロックチェーン4
  //サンプル値取得ボタン
  $("#bc_getmultibalances").on("click", function(){
    console.log("サンプル値を取得します。")
    $.ajax({
      crossDomain: true,
      url: "http://13.113.245.130/mc_getmultibalances",
      method: "GET",
      dataType: "json"
    })
    .done(function(data){
      console.log("サンプル値を取得しました。")
      console.log(data);
      log = JSON.stringify(data);
      $("#e").append('<p>' + log + '</p>');

    });

  });



</script>