<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css">




<head>
  <title>注文ステータス照会</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>


  <div class="siimple-navbar">
    <a class="siimple-navbar-title"><div class="siimple-h2">ブロックチェーンデモ（顧客向けアプリ）</div></a>
    <div class="siimple--float-right">
        <a class="siimple-navbar-item"><a href="../blockchain/createorder" class="siimple-link">注文</a></a>
        <a class="siimple-navbar-item"><a href="../blockchain/displayorder" class="siimple-link">注文ステータス照会</a></a>
      </div>
</div>


    <div class="siimple-content--medium">
    <div class="siimple-h3">注文ステータス照会</div>

    <p class="siimple-p">
      注文の最新ステータスを確認できます。
    </p>
    <img src="http://13.113.245.130/file/img/smartphone_neru_man.png" width="240">

    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">注文番号</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="sc_ordernumber_2">
      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="sc_ordernumbersendbutton">照会</div>
      </div>
    </div>
    
    <div id="b">
    </div>
  </div>
</body>

<script type="text/javascript">




  $("#sc_ordernumbersendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.ordernumber = $("#sc_ordernumber_2").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "../getorderstatus",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.blockchainitems.length);
      m = data.blockchainitems.length;

      

      output = '';



      output = '<div class="siimple-h4">注文番号:' + data.blockchainitems[0].ordernumber + '</div>';

      output = output + '<p>上記の注文は、' + data.blockchainitems[m-1].status + 'です。';

      output = output + '<div class="siimple-table siimple-table--striped"><div class="siimple-table-header"><div class="siimple-table-row"><div class="siimple-table-cell">ステータス</div><div class="siimple-table-cell">登録日時</div></div></div><div class="siimple-table-body">'

      // $("#b").append('<div class="siimple-table"><div class="siimple-table-header"><div class="siimple-table-row"><div class="siimple-table-cell">ステータス</div><div class="siimple-table-cell">登録日時</div></div></div><div class="siimple-table-body">');

      for (var i=0; i<m; i++){
        output = output + '<div class="siimple-table-row"><div class="siimple-table-cell">' + data.blockchainitems[i].status + '</div><div class="siimple-table-cell">' + data.blockchainitems[i].timestamp + '</div></div>';
      }

      output = output + '</div></div>'

      $("#b").html(output);
      

      log = JSON.stringify(data);


    });
  });


</script>