<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css">



<head>
  <title>注文一覧照会</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>


    <div class="siimple-navbar">
      <a class="siimple-navbar-title"><div class="siimple-h2">ブロックチェーンデモ</div></a>
      <div class="siimple--float-right">
        <a class="siimple-navbar-item"><a href="../blockchain/displayorderlist" class="siimple-link">一覧</a></a>
        <a class="siimple-navbar-item"><a href="../blockchain/displayorder" class="siimple-link">照会</a></a>
        <a class="siimple-navbar-item"><a href="../blockchain/updateorder" class="siimple-link">登録</a>
      </div>
    </div>

    <div class="siimple-content--medium">

    <div class="siimple-h3">注文一覧照会</div>

    <p class="siimple-p">
      注文の一覧を確認できます。
    </p>
    </div>

    <div id="b"></div>

    
</body>

<script type="text/javascript">

  $(document).ready(function(){

    $.ajax({
      crossDomain: true,
      url: "../getorderlist_aws",
      method: "GET",
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.blockchainorders.length);
      m = data.blockchainorders.length;

      output = '';
      output = '<div class="siimple-content--small"><div class="siimple-table siimple-table--striped"><div class="siimple-table-header"><div class="siimple-table-row"><div class="siimple-table-cell">注文番号</div><div class="siimple-table-cell">ステータス</div><div class="siimple-table-cell">日時</div></div></div><div class="siimple-table-body">'

      for (var i=0; i<m; i++){
        output = output + '<div class="siimple-table-row"><div class="siimple-table-cell">' + data.blockchainorders[i].ordernumber + '</div><div class="siimple-table-cell"><a href="https://maas-dashboard.cfapps.eu10.hana.ondemand.com/?instance=d8248f83-53db-4ee0-a567-7730e77f1182#/transactions/' + data.blockchainorders[i].txid + '" class="siimple-link">' + data.blockchainorders[i].laststatus + '</a></div><div class="siimple-table-cell">' + data.blockchainorders[i].lasttimestamp + '</div></div>';
      }

      output = output + '</div></div></div>'

      $("#b").html(output);
      
      log = JSON.stringify(data);

    });
  });


</script>