<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css">

<style>
    body {
        margin: 0px;
    }
</style>

<meta content="width=device-width,initial-scale=1.0" name="viewport">

<head>
  <title>注文一覧照会</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="siimple-content--small">

    <div class="siimple-navbar">
      <a class="siimple-navbar-title"><div class="siimple-h2">ブロックチェーンデモ</div></a>
      <div class="siimple--float-right">
        <a class="siimple-navbar-item"><a href="../blockchain/displayorderlist" class="siimple-link">一覧</a></a>
        <a class="siimple-navbar-item"><a href="../blockchain/displayorder" class="siimple-link">照会</a></a>
        <a class="siimple-navbar-item"><a href="../blockchain/updateorder" class="siimple-link">登録</a>
      </div>
    </div>

    <div class="siimple-h3">注文一覧照会</div>

    <p class="siimple-p">
      注文の一覧を確認できます。
    </p>
    <div id="b"></div>
  </div>
</body>

