<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.0/dist/siimple.min.css">

<style>
    body {
        margin: 0px;
    }
</style>

<meta content="width=device-width,initial-scale=1.0" name="viewport">

<head>
  <title>注文状況照会</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <div class="siimple-content--small">
  


  <div class="siimple-h4">ブロックチェーンデモシステム</div>

    <div class="siimple-h5">注文状況照会</div>
    <div class="siimple-form">
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">注文番号（YYMMDD+任意の4桁）</div>
        <input type="text" class="siimple-input siimple-input--fluid" id="sc_ordernumber_2" maxlength="10">

      </div>
      <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--blue" id="sc_ordernumbersendbutton">送信</div>
      </div>
    </div>
    
    <div id="b">
    </div>



  </div>
</body>

<script type="text/javascript">




  $("#sc_ordernumbersendbutton").on("click", function(){

    //送信データを準備
    var sendScript = {};
    sendScript.ordernumber = $("#sc_ordernumber_2").val();
    console.log(sendScript);

    $.ajax({
      crossDomain: true,
      url: "../getorderstatus",
      method: "POST",
      data: JSON.stringify(sendScript),
      contentType: 'application/json',
      dataType: "json"
    })
    .done(function(data){
      console.log(data);
      console.log(data.blockchainitems.length);
      m = data.blockchainitems.length;

      output = '';

      output = '<div class="siimple-h5">注文番号:' + data.blockchainitems[0].ordernumber + '</div>';
      output = output + '<div class="siimple-table siimple-table--striped"><div class="siimple-table-header"><div class="siimple-table-row"><div class="siimple-table-cell">ステータス</div><div class="siimple-table-cell">登録日時</div></div></div><div class="siimple-table-body">'

      // $("#b").append('<div class="siimple-table"><div class="siimple-table-header"><div class="siimple-table-row"><div class="siimple-table-cell">ステータス</div><div class="siimple-table-cell">登録日時</div></div></div><div class="siimple-table-body">');

      for (var i=0; i<m; i++){
        output = output + '<div class="siimple-table-row"><div class="siimple-table-cell">' + data.blockchainitems[i].status + '</div><div class="siimple-table-cell">' + data.blockchainitems[i].timestamp + '</div></div>';
      }

      output = output + '</div></div>'

      $("#b").html(output);
      

      log = JSON.stringify(data);


    });
  });


</script>